<%= javascript_include_tag 'swfobject.js' %>
<%= javascript_include_tag 'jquery.timers.js' %>
<%= javascript_include_tag 'jQueryRotate.js' %>
<%= javascript_include_tag 'ui/jquery.ui.core.js' %>
<%= javascript_include_tag 'ui/jquery.ui.widget.js' %>
<%= javascript_include_tag 'ui/jquery.ui.mouse.js' %>
<%= javascript_include_tag 'ui/jquery.ui.slider.js' %>
<%= stylesheet_link_tag 'themes/ui-darkness/jquery-ui-1.8.17.custom.css' %>
<div id="choose-friends" style="display:none;">
	<div id="profile">
		Welcome!<br>
		<span id="name"></span>
	</div>
	<div id="friends-screen" style="width:500px; height:300px; display:block; margin:auto; overflow-y:scroll;">
		<div id="make-a-group" style="position:relative; margin:100px auto 0px;">
			<a href="javascript:void(0)" onclick="loadAjaxData(); return false;"><%= image_tag 'letstartbutton.png' %></a>
		</div>
		<div id="friends" style="display:none; text-align:left;">
			<div id="friends-message" style="text-align:center;"></div>
		</div>
		<div id="loading2" style="display:none; position:relative; margin:100px auto 0px;">
			Now Loading...<span id="progress-rate">0</span><br>
			<%= image_tag 'ajax-loader.gif' %>
		</div>
	</div>	
	<div id="start" style="display:none;">
		<a href="javascript:void(0)" onclick="GetVals(); return false;">Start DJ</a>
	</div>
	<div id="invite-friends">
		<a href="javascript:void(0)" onclick="sendRequestViaMultiFriendSelector(); return false;"><%= image_tag 'invitebutton.png' %></a>	
	</div>
</div>

<div id="loading1" style="width:600px; height:300px; margin:auto;">
	<div style="position:relative; margin:100px auto 0px;">
			Now Loading...<br>
			<%= image_tag 'ajax-loader.gif' %>
	</div>
</div>

<div id="play-screen-otomagic" style="display:none; width:760px; margin:auto;">
	<div id="left-bar" style="float:left; margin-right:10px;">
		<div id="now-playing" style="width:250px; height:150px; border:3px solid #000000;">
			<div>Now!!</div>
			<div id="artist"></div>
			<div id="title"></div>
			<div id="who-likes-now"><span id="who-likes"></span><%= image_tag 'heart.png', :style => 'vertical-align:middle;'%></div>
		</div>
		<div id="next" style="width:250px; height:150px; border:3px solid #000000;">
			<div>Next...</div>
			<div id="artist-next"></div>
			<div id="title-next"></div>
			<div id="who-likes-next"></div>
		</div>
		<div id="next2" style="width:250px; height:150px; border:3px solid #000000;">
			<div>After Next...</div>
			<div id="artist-after-next"></div>
			<div id="title-after-next"></div>
			<div id="who-likes-after-next"></div>
		</div>
	</div>
	<div id="player" style="width:320px; text-align:center; float:left;">
		<div id="ytapiplayer">
			You need Flash player 8+ and JavaScript enabled to view this video.<br>
			<a href="http://get.adobe.com/jp/flashplayer/">Get Flash Adobe Player.</a>		
		</div>
		<div id="controllers">
			<div id="controller">
				<%= image_tag 'otomagic_button/stop.png', :id => 'stop_btn', :style => 'cursor:pointer; float:left;' %>
				<%= image_tag 'otomagic_button/playbutton.png', :id => 'play_btn', :style => 'cursor:pointer; float:left; margin-left: 5px;' %>
				<div id="seek" style="float:left;">
					<div id="slider2" style="width:200px; float:left; position:relative; margin-top:5px; margin-left:12px;"></div>
					<div class="clear"></div>
				</div>
				<%= image_tag 'otomagic_button/nextbutton.png', :id => 'next_btn', :style => 'cursor:pointer; float:left;' %>
				<div class="clear"></div>
			</div>
			<div id="volume">
				<%= image_tag 'volumebutton.png', :id => 'vol', :style => 'vertical-align:middle; float:left;' %>
				<div id="slider" style="width:200px; float:left; position:relative; margin-top:5px; margin-left:12px;"></div>
				<div class="clear"></div>
			</div>
			<div id="share-on-social">
				<a href="javascript:void(0)" style="color:#00ccff;" onclick="PostToFeed(); return false;">Like this song</a>
			</div>
			<div id="report-unlike-music" style="padding:10px;">
				<a href="/report" style="color:#00ccff;" target="_blank">report unlike music</a>
			</div>
		</div>
	</div>
	<div id="record-display" style="float:left;">
		<div><%= image_tag 'record1.png', :id => 'record1' %></div>
		<div><%= image_tag 'record2.png', :id => 'record2' %></div>
		<div><%= image_tag 'record3.png', :id => 'record3' %></div>
	</div>
</div>
<div class="clear"></div>
<div id="powered_by_yt"><%= link_to image_tag('yt_powered_by_black.png', {:style => 'width:60px;'}), 'http://www.youtube.com' %></div>
<script>
	var params = { allowScriptAccess: "always" };
	var atts = { id: "myytplayer" };
	swfobject.embedSWF("http://www.youtube.com/apiplayer?enablejsapi=1&version=3&playerapiid=ytplayer", "ytapiplayer", "320", "240", "8", null, null, params, atts);
	var organizer,fbfriend;
	var progress = 1;
	var registration = 0;
	var chkboxid = new Array();
	var chkboxnum = 1;
	var likes;
	var max_num = 0;
	var artists = new Array();//artist*facebook_id*facebook_name
	var artists_arr = new Array(); //arrangement of var artists
	var k = 0; //human number of groups
	var a = 0; //the number of Using YtAPI
	var t = 0;
	var music = new Array();
	var ytdataflg = 0;
	var m = 0;
	var n;
	var next_btn = document.getElementById('next_btn');
	var next_btn_flg = false;
	var seekbar;
	var now,next,next2,next3;
	var playlist = ["init", "init", "init"]; //songs now plays, the next, and the next to next
	var playlist1 = "init";
	var playlist2,playlist3;
	var total_songs = new Array();
	var record = 0;

	function sendRequestViaMultiFriendSelector() {
		FB.ui({method: 'apprequests',
			message: 'OTOMAGIC Request'
		}, requestCallback);
	}

	function requestCallback(response){
		console.log(response);
	}

	window.fbAsyncInit = function() {
		      FB.init({	
				appId      : '301955646531244', // App ID
				channelUrl : '/channel.html', // Channel File
				status     : true, // check login status
				cookie     : true, // enable cookies to allow the server to access the session
				xfbml      : true  // parse XFBML
			});
	    	// Additional initialization code here
			// Check login status
			FB.getLoginStatus(function(response) {
				console.log(response);
				if (response.status === 'connected') {
				// the user is logged in and connected to your
				// app, and response.authResponse supplies
				// the user's ID, a valid access token, a signed
				// request, and the time the access token 
				// and signed request each expire
				var uid = response.authResponse.userID;
				var accessToken = response.authResponse.accessToken;
				FB.api('/me', function(response) {
					$('#name').append('<img src="' + 'https://graph.facebook.com/' + response.id + '/picture">');
					$('#name').append(response.name);
					organizer = response.id;
				});
				FB.api('/me/friends', function(response) {
					if(response){
						fbfriend = response;
						$('#loading1').hide();
						$('#choose-friends').show();
					}else{
						$('#loading1').text('Sorry, Something goes wrong.')
					}
				});
			} else if (response.status === 'not_authorized') {
				// the user is logged in to Facebook, 
				//but not connected to the app
				//location.href = "index.html";
			} else {
				// the user isn't even logged in to Facebook.
				//location.href = "index.html";
			}
		});
	};

	  // Load the SDK Asynchronously
	    (function(d){
			 var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			 js = d.createElement('script'); js.id = id; js.async = true;
			 js.src = "//connect.facebook.net/en_US/all.js";
			 d.getElementsByTagName('head')[0].appendChild(js);
		}(document));
	
	function loadAjaxData(){
		$('#make-a-group').hide();
		$('#loading2').show();
        /*
		for(i = 0; i < fbfriend.data.length; i++){
			getAjaxData(fbfriend.data[i].id, fbfriend.data[i].name, 'https://graph.facebook.com/' + fbfriend.data[i].id + '/picture');
		}
        */
        getAjaxDataTogether(fbfriend.data);
	}

    function getAjaxDataTogether(data){
        request_url = "/users/user_data?";
        l = data.length;
            for(i = 0; i < l; i++){
                request_url += "facebook_id[]=" + data[i].id + '&';
            }
        
        $.ajax({
				url: request_url,
				type: 'GET',
				//data: "id=" + facebook_id,
				dataType: 'json',
				error: function(){
					$("#loading2").text('Sorry, Something goes wrong.');
				},
				success: function (json){
                       progress = 0;
                    for (i = 0; i < json.length; i++){
                        picture = 'https://graph.facebook.com/' + json[i].user.facebook_id + '/picture';
						$('#friends').append('<input type="checkbox" name="omaira" class="otomagic-checkbox" id="'+ json[i].user.facebook_id + '" value="' + json[i].user.facebook_id +'">');
						$('#friends').append('<img src="' + picture + '">');
						$('#friends').append( json[i].user.facebook_name+ '<br>');
						chkboxid.push(json[i].user.facebook_name);
						chkboxnum++;
						registration++;
                        progress++;
					    progressrate = progress / json.length * 100;
					    progressrate = Math.floor(progressrate);
					    $("#progress-rate").text(progressrate);
 
					    if(progress == json.length) {
						    if(json.length == 0){
							    $("#friends-message").append("Your Friends haven't logged in OTOMAGIC yet." + "<br>");
							    $("#friends-message").append("Let's invite your friends to OTOMAGIC!");
							    $("#friends-message").css('padding-top','100px');
							    $("#loading2").hide();
							    $("#friends").show();
							    $("#start").show();
						    }else{
							    $("#friends-message").append("<hr>");
							    $("#friends-message").append("Your Music Partners!");
							    $("#friends-message").append("<hr>");
							    $("#friends-message").css("font-size","22px");
							    $("#loading2").hide();
							    $("#friends").show();
							    $("#start").show();
						    }
					    }
                    }
				}
		});

    }

	function getAjaxData(facebook_id, facebook_name, picture){
		$.ajax({
				url: '/users/djdata?facebook_id=' + facebook_id,
				type: 'GET',
				//data: "id=" + facebook_id,
				dataType: 'json',
				error: function(){
					$("#loading2").text('Sorry, Something goes wrong.');
				},
				success: function (json){
					if(json.status == "regist"){
						$('#friends').append('<input type="checkbox" name="omaira" class="otomagic-checkbox" id="'+ facebook_name + '" value="' + facebook_id +'">');
						$('#friends').append('<img src="' + picture + '">');
						$('#friends').append( facebook_name+ '<br>');
						chkboxid.push(facebook_name);
						chkboxnum++;
						registration++;
					}
					progress++;
					progressrate = progress / fbfriend.data.length * 100;
					progressrate = Math.floor(progressrate);
					$("#progress-rate").text(progressrate);
					if(progress == fbfriend.data.length) {
						if(registration == 0){
							$("#friends-message").append("Your Friends haven't logged in OTOMAGIC yet." + "<br>");
							$("#friends-message").append("Let's invite your friends to OTOMAGIC!");
							$("#friends-message").css('padding-top','100px');
							$("#loading2").hide();
							$("#friends").show();
							$("#start").show();
						}else{
							$("#friends-message").append("<hr>");
							$("#friends-message").append("Your Music Partners!");
							$("#friends-message").append("<hr>");
							$("#friends-message").css("font-size","22px");
							$("#loading2").hide();
							$("#friends").show();
							$("#start").show();
						}
					}
				}
		});
	}

	function GetVals(){
		var AllVals = new Array();
		$("input[name=omaira]:checked").map(function(){
			AllVals.push($(this).val());
		});
		var ids = "";
		for (i = 0; i < AllVals.length; i++){
			ids += '&users[ids][]=' + AllVals[i];
		}
		url = '/user_artists/like?users[organizer]=' + organizer + ids;
		k = AllVals.length;
		if (k >= 5) {
			alert("You can choose less than 4 friends.");
		}else{
			getLikeArtistsData(url);
			$("#choose-friends").hide();
			$("#loading1").show();
		}
	}

	function getLikeArtistsData(url){
		$.ajax({
			url: url,
			type: 'GET',
			dataType: 'json',
			error: function(json){
				$("#loading1").text('Sorry, Somthing goes wrong.');
			},
			success: function(json){
				if(json.status == "over"){
					$("#loading1").text('You can choose less than' + json.max +' friends.');
				}else if(json.status == "error"){
					$("#loading1").text('Sorry, Something goes wrong.');
				}else if(json.status == "ok"){
					likes = json.data;
					if (likes.length == 1){
						for(i = 0; i < likes[0].length; i++){
							artists[artists.length] = likes[0][i].user_artist.artist_name + '*' + likes[0][i].user_artist.facebook_name;
						}
					}else{
						for (i = 0; i < likes.length; i++){
							if(i == 0){
								
							}else{
								if(likes[i].length > likes[i-1].length){
									max_num = likes[i].length;
								}else if(likes[i].length <= likes[i-1].length){
									max_num = likes[i-1].length;
								}
							}
						}

						for (i = 0; i < max_num; i++){
							for (j = 0; j < likes.length; j++){
								if(typeof(likes[j][i]) == "undefined"){
									
								}else{
									artists[artists.length] = likes[j][i].user_artist.artist_name + '*' + likes[j][i].user_artist.facebook_name;
								}	
							}
						}

						for (i = 0; i < artists.length; i++){
							if (getZeroOrOne() == 0){
								artists_arr.push(artists[i]);
							}else{
								artists_arr.unshift(artists[i]);
							}
						}	
						//console.log(artists_arr);
						artists = artists_arr;
					}
					//console.log(artists);
					getMusicData();
					getMusicData();
					getMusicData();
				}
			}
		});
	}

	function getMusicData(){
		if(a < artists.length && t == 0){
			word = artists[a].split('*');
			artist_name = word[0];
			facebook_name = word[1];
			word = filltering(artist_name);
			url = "http://gdata.youtube.com/feeds/api/videos?q=" + word + "&format=5&alt=json";
			$.ajax({
				url: url,
				type: 'GET',
				dataType: 'json',
				error: function(){
					if(a == 0){
						$("#loading1").text('Sorry, Something goes wrong.');
					}
				},
				success: function (json){
					var musicdata = {};
					if(typeof(json) != 'undefined'){
						for(i = 0; i < json.feed.entry.length; i++){
							musicdata = {};
							musicdata['url'] = json.feed.entry[i].media$group.media$content[0].url;
							musicdata['artist'] = artist_name;
							musicdata['title'] = json.feed.entry[i].media$group.media$title.$t;
							shortenchar(musicdata['title']);
							musicdata['user_name'] = facebook_name;
							music.push(musicdata);
						}
						total_songs.push(json.feed.entry.length);
						//console.log(total_songs);
						if(a == 0){
							$("#loading1").hide();
							$("#play-screen-otomagic").show();
						}
						a++;
					}else{
						a++;
					}
					//console.log('a=' + a);
				}
			});
		}else{
			/* nothing to do */	
			a++;
			//console.log('a=' + a);								
		}	
	}	
	
	function filltering(char){
		char.replace('/\s/','+');
		if (char.indexOf('AKB48') != -1){
			char = 'PV+AKB48+公式';
		}
		char += '+-弾いてみた+-歌ってみた+-カバー+-cover+-弾き語り+-インタビュー+-踊ってみた';
		return char;
	}

	function shortenchar(char){
		if (char > 5) char.substring(0, 5);
	}

	$(function(){
		var cnt1 = 0;
		var cnt2 = 0;
		var cnt3 = 0;
		function RotateRecord(){
			$("#record1").rotate((cnt1));
			cnt1++;
		}
		function RotateRecord2(){
			$("#record2").rotate((cnt2));
			cnt2--;
		}
		function RotateRecord3(){
			$("#record3").rotate((cnt3));
			cnt3++;
		}
		function ManageRotateSpeed(a,b,c){
			setInterval(RotateRecord, a);
			setInterval(RotateRecord2, b);
			setInterval(RotateRecord3, c);
		}

		ManageRotateSpeed(100,20,50);		
		setInterval(moveSeekbar, 1000);

		$("#play_btn").toggle(function(){
			if(ytplayer) ytplayer.playVideo();
		},function(){
			if(ytplayer) ytplayer.pauseVideo();
		});
		
		$("#stop_btn").click(function(){
			if(ytplayer) ytplayer.stopVideo();
		});
		
		$("#next_btn").click(function(){
			checkButtonStatus();
			if(!next_btn_flg){
				getMusicData();
				seekbar.slider( "value" , 0);
				if(playlist1 == "init"){
					playlist1 = getRandomNumberInArtistsNum();
					playlist2 = getRandomNumberInArtistsNum();
					playlist3 = getRandomNumberInArtistsNum();
					$("#artist-next").text('Now Selecting...');
					$("#artist-after-next").text('Now Selecting...');
				}else{
					if(a < k + 1){
						playlist1 = getRandomNumberInArtistsNum();
						playlist2 = getRandomNumberInArtistsNum();
						playlist3 = getRandomNumberInArtistsNum();
					}else{
						playlist1 = playlist2;
						playlist2 = playlist3;
						playlist3 = getRandomNumberInArtistsNum();
						$("#artist-next").text('Artist:' + music[playlist2]['artist']);
						$("#title-next").text('Title:' + music[playlist2]['title']);
						$("#artist-after-next").text('Artist:' + music[playlist3]['artist']);
						$("#title-after-next").text('Title:' + music[playlist3]['title']);
					}
				}
				now = music[playlist1];
				ytplayer.cueVideoByUrl(now['url']);
				ytplayer.playVideo();
				$("#artist").text('Artist:' + now['artist']);
				$("#title").text('Title:' + now['title']);
				$('#who-likes').text(now['user_name']);
				}
		});

		$( "#slider" ).slider({
			value:50,
			min: 0,
			max: 100,
			step: 1,
			slide: function( event, ui ) {
				//$( "#amount" ).val( "$" + ui.value );
				if(ytplayer) ytplayer.setVolume(ui.value);
			}
		});

		seekbar = $( "#slider2" ).slider({
			value: 0,
			min: 0,
			max: 100,
			step: 1,
			slide: function( event, ui ) {
				//ytplayer.setVolume(ui.value);
				if(ytplayer){
					if(ytplayer.getDuration()!=0){
						seekpoint = Math.floor( ui.value * ytplayer.getDuration() / 100);
						ytplayer.seekTo(seekpoint, false);
					}
				}
			}
		});
	});

		function onYouTubePlayerReady(playerId) {
			ytplayer = document.getElementById("myytplayer");
			if (ytplayer){
				if(playlist1 == "init"){
					playlist1 = getRandomNumberInArtistsNum();
					playlist2 = getRandomNumberInArtistsNum();
					playlist3 = getRandomNumberInArtistsNum();
					$("#artist-next").text('Now Selecting...');
					$("#artist-after-next").text('Now Selecting...');
				}else if (a < k + 1){
					playlist1 = getRandomNumberInArtistsNum();
					playlist2 = getRandomNumberInArtistsNum();
					playlist3 = getRandomNumberInArtistsNum();
					$("#artist-next").text('Now Selecting...');
					$("#artist-after-next").text('Now Selecting...');
				}
				now = music[playlist1];
				ytplayer.cueVideoByUrl(now['url']);
				$("#artist").text('Artist:' + now['artist']);
				$("#title").text('Title:' + now['title']);
				$("#who-likes").text(now['user_name']);
			}
			ytplayer.addEventListener('onStateChange', 'onYouTubePlayerStateChange' );
		}	


		function onYouTubePlayerStateChange(state) {
			//checkButtonStatus();
			if(a != 0 && state == 0){
				getMusicData();
				seekbar.slider( "value" , 0);
				if(playlist1 == "init"){
					playlist1 = getRandomNumberInArtistsNum();
					playlist2 = getRandomNumberInArtistsNum();
					playlist3 = getRandomNumberInArtistsNum();
					$("#artist-next").text('Now Selecting...');
					$("#artist-after-next").text('Now Selecting...');
				}else{
					if(a < k + 1){
						playlist1 = getRandomNumberInArtistsNum();
						playlist2 = getRandomNumberInArtistsNum();
						playlist3 = getRandomNumberInArtistsNum();
					}else{
						playlist1 = playlist2;
						playlist2 = playlist3;
						playlist3 = getRandomNumberInArtistsNum();
						$("#artist-next").text('Artist:' + music[playlist2]['artist']);
						$("#title-next").text('Title:' + music[playlist2]['title']);
						$("#artist-after-next").text('Artist:' + music[playlist3]['artist']);
						$("#title-after-next").text('Title:' + music[playlist3]['title']);
					}
				}
				now = music[playlist1];
				ytplayer.cueVideoByUrl(now['url']);
				ytplayer.playVideo();
				$("#artist").text('Artist:' + now['artist']);
				$("#title").text('Title:' + now['title']);
				$('#who-likes').text(now['user_name']);	
			}else if(a != 0 && state == 2){
				getMusicData();
				seekbar.slider( "value" , 0);
				if(playlist1 == "init"){
					playlist1 = getRandomNumberInArtistsNum();
					playlist2 = getRandomNumberInArtistsNum();
					playlist3 = getRandomNumberInArtistsNum();
					$("#artist-next").text('Now Selecting...');
					$("#artist-after-next").text('Now Selecting...');
				}else{
					if(a < k + 1){
						playlist1 = getRandomNumberInArtistsNum();
						playlist2 = getRandomNumberInArtistsNum();
						playlist3 = getRandomNumberInArtistsNum();
					}else{
						playlist1 = playlist2;
						playlist2 = playlist3;
						playlist3 = getRandomNumberInArtistsNum();
						$("#artist-next").text('Artist:' + music[playlist2]['artist']);
						$("#title-next").text('Title:' + music[playlist2]['title']);
						$("#artist-after-next").text('Artist:' + music[playlist3]['artist']);
						$("#title-after-next").text('Title:' + music[playlist3]['title']);
					}
				}
				now = music[playlist1];
				ytplayer.cueVideoByUrl(now['url']);
				ytplayer.playVideo();
				$("#artist").text('Artist:' + now['artist']);
				$("#title").text('Title:' + now['title']);
				$('#who-likes').text(now['user_name']);	
			}
			console.log('state=' + state);
		}

	function getRandomNumber(){
		r = Math.floor( Math.random() * music.length );
		//console.log('random=' + r);
		return r;
	}

	function getZeroOrOne(){
		zo = Math.floor( Math.random() * 2 );
		return zo;
	}
	
	function getRandomNumberFromArtistsNum(){
		grninum = Math.floor( Math.random() * artists.length );
		return grninum;
	}

	function getRandomNumberInArtistsNum(){
		lnum = 0;
		tnum = 0;
		mnum = 0;
		if(a == 0){
			mnum = getRandomNumber();
		}else if(a != 0 && a <= artists.length){
			for (i = 0; i< total_songs.length; i++){
				lnum += parseInt(total_songs[i]);
			}
			for (i = 1; i< total_songs.length; i++){
				tnum += parseInt(total_songs[i-1]);
			}
			//console.log('tnum='+ tnum);
			minus = lnum - tnum;
			mnum = Math.floor( Math.random() * minus);
			mnum += tnum;
		}else if(a != 0 && a > artists.length){
			mnum = getRandomNumber();
		}
		//console.log('mnum=' + mnum);
		return mnum;
	}
	
	function moveSeekbar(){
			if(typeof(ytplayer) != 'undefined'){
				if(ytplayer){
					if(ytplayer.getDuration()!=0){
						currentpointrate = ytplayer.getCurrentTime() / ytplayer.getDuration();
						seekpoint = Math.floor( currentpointrate * 100);
						seekbar.slider("value" , seekpoint);
					}
				}
			}	
	}	

	function checkButtonStatus(){
		if(!next_btn.disabled){
			next_btn.disabled = true;
			next_btn_flg = true;
		}else{
			next_btn.disabled = false;
			next_btn_flg = false;
		}
	}

	function PostToFeed(){
		if(typeof(now['artist'])=="undefined" || typeof(now['title']) == "undefined"|| now['artist'] == null || now['title'] == null){
					alert('Post was not published.');
		}else{
			FB.ui(
			{
				method: 'feed',
				name: 'OTOMAGIC',
				link: now['url'],
				picture: 'http://otomagic.me/images/logo_medium.png',
				caption: 'Listen to favorite music in OTOMAGIC.',
				description: 'Now hearing ' + now['title'] +' of ' + now['artist'] + '.',
			},
			function(response) {
				if (response && response.post_id) {
					alert('Post was published.');
				} else {
					alert('Post was not published.');
				}
			}
			);
		}
	}
</script>
